/* SearchUsers.css */
.search-users {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    position: relative; /* Add this line */
}

.search-users h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-users input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-users ul {
    list-style-type: none;
    padding: 0;
}

.search-users li {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-users button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-users button:hover {
    background-color: #0056b3;
}

.search-users .message {
    margin-top: 20px;
    text-align: center;
    color: green;
}

.loading-placeholder {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-text {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #555;
}
